*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: 0;
}
.medsos{
	padding: 5px 0;
	background-color: #E9967A;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
	
}
.container:after{
	content: '';
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0;
	color: #E9967A;
}
header ul{
	float:right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li :hover{
	background-color: #E9967A;
	color: #fff;
}
.active{
	background-color: #E9967A;
	color: #fff;
}
.banner{
	height: 60vh;
	background-image: url('../img/bannner.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #E9967A;
}

.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}

section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #E9967A ;
}
.isi{
	float: left;
    width: 40%;
	height: 50%;
    
}
.ft{
	 float: left;
	 height: 40%;
     width: 25%;
     
}
.footer{
    	width: 1525px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E9967A;
    }
    .footer-text{
		text-align: center;
		font-family: arial;
		font-weight: bold;
		color: white;
	}